<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat"
        tools:targetApi="31">
        <activity
            android:name=".vistas.eliminarOperario"
            android:exported="false" />
        <activity
            android:name=".vistas.agnadirOperario"
            android:exported="false" />
        <activity
            android:name=".vistas.operarios"
            android:exported="false" />
        <activity
            android:name=".vistas.maquinaria"
            android:exported="false" />
        <activity
            android:name=".vistas.turnos"
            android:exported="false" />
        <activity
            android:name=".vistas.informes"
            android:exported="false" />
        <activity
            android:name=".vistas.panel_control"
            android:exported="false" />
        <activity
            android:name=".vistas.InicioUsuario"
            android:exported="false" />
        <activity
            android:name=".vistas.trabajo"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBaoip0eZ1ZGh3VuYWZNxMql1i7DHzZ9TU" />

        <activity
            android:name=".vistas.Registro"
            android:exported="false" />
        <activity
            android:name=".vistas.InicioAdmin"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>